.messagesListContainer {
    background-color: var(--read-msg-color);
    width: 350px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 14px;
    align-items: center;
}

.topHr {
    border: 0.5px solid #D9DDE8;
    width: 100%;
}