.dropDownMenu {
    position: absolute;
    right: 0px;
    bottom: 90%;
    width: 200px;
    padding: 0.2rem;
    /* z-index: 100; */
}

li {
    list-style-type: none;
}

.menuWrapper {
    position: relative;
    display: inline-block;
}

.dotsSyle {
    font-size: 1.4rem;
    color: #D6DCE4;
}