.dropDownMenu {
    position: absolute;
    right: 0px;

    /* width: 200px; */
    padding: 0.2rem;
    /* z-index: 100; */
    /* top: 80px; */
}

button {
    position: relative;
}

li {
    list-style-type: none;
}


.dotsSyle {
    font-size: 1.4rem;
    color: #D6DCE4;
}