.buttonContainer {
    background-color: var(--button-color);
    color: var(--button-color-text);
    display: flex;
    width: fit-content;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    font-weight: var(--button-font-weight);
    padding-inline-end: 50px;
    font-size: var(--title-font-size);
    align-items: center;
    letter-spacing: 1px;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}